{# <div class="single-element-widget">
								<h3 class="mb-30">Switches</h3>
								<div class="switch-wrap d-flex justify-content-between">
									<p>01. Sample Switch</p>
									<div class="primary-switch">
										<input type="checkbox" id="default-switch">
										<label for="default-switch"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>02. Primary Color Switch</p>
									<div class="primary-switch">
										<input type="checkbox" id="primary-switch" checked>
										<label for="primary-switch"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>03. Confirm Color Switch</p>
									<div class="confirm-switch">
										<input type="checkbox" id="confirm-switch" checked>
										<label for="confirm-switch"></label>
									</div>
								</div>
							</div>
							<div class="single-element-widget mt-30">
								<h3 class="mb-30">Selectboxes</h3>
								<div class="default-select" id="default-select">
									<select>
										<option value=" 1">English</option>
										<option value="1">Spanish</option>
										<option value="1">Arabic</option>
										<option value="1">Portuguise</option>
										<option value="1">Bengali</option>
									</select>
								</div>
							</div>
							<div class="single-element-widget mt-30">
								<h3 class="mb-30">Checkboxes</h3>
								<div class="switch-wrap d-flex justify-content-between">
									<p>01. Sample Checkbox</p>
									<div class="primary-checkbox">
										<input type="checkbox" id="default-checkbox">
										<label for="default-checkbox"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>02. Primary Color Checkbox</p>
									<div class="primary-checkbox">
										<input type="checkbox" id="primary-checkbox" checked>
										<label for="primary-checkbox"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>03. Confirm Color Checkbox</p>
									<div class="confirm-checkbox">
										<input type="checkbox" id="confirm-checkbox">
										<label for="confirm-checkbox"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>04. Disabled Checkbox</p>
									<div class="disabled-checkbox">
										<input type="checkbox" id="disabled-checkbox" disabled>
										<label for="disabled-checkbox"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>05. Disabled Checkbox active</p>
									<div class="disabled-checkbox">
										<input type="checkbox" id="disabled-checkbox-active" checked disabled>
										<label for="disabled-checkbox-active"></label>
									</div>
								</div>
							</div>
							<div class="single-element-widget mt-30">
								<h3 class="mb-30">Radios</h3>
								<div class="switch-wrap d-flex justify-content-between">
									<p>01. Sample radio</p>
									<div class="primary-radio">
										<input type="checkbox" id="default-radio">
										<label for="default-radio"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>02. Primary Color radio</p>
									<div class="primary-radio">
										<input type="checkbox" id="primary-radio" checked>
										<label for="primary-radio"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>03. Confirm Color radio</p>
									<div class="confirm-radio">
										<input type="checkbox" id="confirm-radio" checked>
										<label for="confirm-radio"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>04. Disabled radio</p>
									<div class="disabled-radio">
										<input type="checkbox" id="disabled-radio" disabled>
										<label for="disabled-radio"></label>
									</div>
								</div>
								<div class="switch-wrap d-flex justify-content-between">
									<p>05. Disabled radio active</p>
									<div class="disabled-radio">
										<input type="checkbox" id="disabled-radio-active" checked disabled>
										<label for="disabled-radio-active"></label>
									</div>
								</div>
							</div> #}